@tailwind base;
@tailwind components;
@tailwind utilities;

/* default styles */
@layer base {
  html {
    font-family: 'Roboto-Regular';
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}

.remove-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* fonts */
/* @font-face {
  font-family: 'Connections-Bold';
  src: url('./fonts/Connections-Bold.woff') format('woff');
  font-display: block;
}  
@font-face {
  font-family: 'Connections-Light';
  src: url('./fonts/Connections-Light.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Connections-Medium';
  src: url('./fonts/Connections-Medium.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Connections-Regular';
  src: url('./fonts/Connections-Regular.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-display: block;
} 
@font-face {
  font-family: 'Roboto-Thin';
  src: url('./fonts/Roboto-Thin.woff') format('woff');
  font-display: block;
}    */
